@use 'header.scss';
@use 'gameSetup.scss';
@use 'gamePlay.scss';
@use 'guessFeedback.scss';
@use 'infoModal.scss';
@use 'gameWon.scss';
@use 'gameLose.scss';
@use 'leaderboard.scss';
@use 'aboutPage.scss';
@use 'errorPage.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
  background-color: #36393f;
  font-family: 'Inter', sans-serif;
}

.main {
  background-color: #23272a;
  border-width: 1px;
  border-style: solid;
  border-color: #99aab5;
  border-radius: 20px;
  width: 90%;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 75px;

  @media (max-width: 600px) {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px;
    width: 95%;
  }
}

.error-message {
  color: red;
  font-size: 25px;
  animation: blink 1s;
  transition: opasity 1s;
  animation-duration: 400ms;
  animation-iteration-count: 3;
}

.db__warning-message {
  background: #fff3cd;
  color: #856404;
  padding: 12px;
  border: 1px solid #ffeeba;
  margin-bottom: 20px;
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
